<div class="phone_page container">

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h1 class="phone">Please enter your mobile phone number</h1>
    <%= flash[:alert] %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-4">
    <%= form_for @user do |u| %>
    	<%= u.text_field :phone, placeholder: "Phone", class: "form-control" %> 
    	<%= u.submit "Submit", class: "btn btn-primary", id: "submit_phone" %>
    <% end %>
  </div>
</div>

</div>