<a href="/auth/facebook"><img id="saferide_logo" src="<%= asset_path( 'saferide_logo.png' ) %>" /></a>

<p class="power-statement">Carpooling made safe and easy.</p>

<a href="/auth/facebook"><img id="sign_in" src="<%= asset_path( 'facebook_login.png' ) %>" /></a>