<div id="map-canvas">
  </div>

<div class="container">

  <div type= button id='nav-buttons'>
    <button class="btn btn-success" id="getRide">Get Ride</button>

    <button class="btn btn-default" id="toggleRole">Switch Views</button>
    </div>




    <div type=button id='driver-buttons'>
    </div>

    <div type=button id='status-buttons'>
    </div>
</div>


