#loads the google map canvas

<div id="map-canvas">
</div>


<div id='nav-buttons'>
<button id="getRide">Get Ride</button>
<button id="switchRole">Driver Mode</button>
</div>

<div id='driver-buttons'>

</div>
