<div id="map-canvas">
</div>

<div id="switch_role_div"> 
  <button class="btn btn-default" id="toggleRole">Switch Views</button>
</div>

<div class="buttons">

  <div id="get_ride_div"> 
    <button class="btn btn-success" id="getRide">Get Ride</button>
  </div>

  <div id="cancel_div">
    <!-- cancel -->
  </div>

  <div id="confirmation_div">
    <!-- confirm_yes -->
    <!-- confirm_no -->
  </div>

  <div id="start_ride_div">
    <!-- start -->
  </div>

  <div id="complete_ride_div">
    <!-- complete -->
  </div>

</div>
