  

<nav class="navbar-text navbar-fixed-top">
  <div class="container">
    <% if current_user %>
      Welcome <%= current_user.name %></strong>!
      <%= link_to "Sign Out", signout_path, id:"sign_out" %>
    <% else %>
      <%= link_to  "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %> 
  </div>


  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}"%>
  <% end %>
</nav>


